# prettier seems to treat the multi-byte emoji characters as taking up multiple
# spaces of width, so letting it format the solution does violence to the
# readability of many of the tables
src/frontend/puzzles/fortunate-calf/solution.mdx
# These files were provided directly by the puzzle author and should not be
# modified
src/frontend/puzzles/wiry-ray/data/*.json
src/frontend/puzzles/giving-fighter/words.json
# Ignore artifacts
dist
dist-ops
# Ignore types from @mfng
types/mfng/*.ts
# Ignore qcow images
*.qcow2
# Ignore image file
*.jpg
*.png
*.svg
# Ignore audio files
*.mp3
*.opus
*.wav
# Ignore video files
*.mp4
# Ignore fonts
*.ttf
