@font-face {
  font-family: "Hanken Grotesk";
  font-style: normal;
  font-display: swap;
  src: url("../../assets/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hanken Grotesk";
  font-style: italic;
  font-display: swap;
  src: url("../../assets/HankenGrotesk-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noto Color Emoji";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../assets/NotoColorEmoji-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Belanosima";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../assets/Belanosima-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Permanent Marker";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../assets/PermanentMarker.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("../../assets/RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: bold;
  font-display: swap;
  font-weight: 700;
  src: url("../../assets/RobotoMono-Bold.ttf") format("truetype");
}

/* Colors */
:root {
  --true-white: #ffffff;
  --gray-000: #f8f8f6;
  --gray-100: #eaeae0;
  --gray-200: #c7c7bb;
  --gray-300: #b4b4a7;
  --gray-400: #98988e;
  --gray-500: #797871;
  --gray-600: #6e6d68;
  --gray-700: #575652;
  --gray-800: #43423f;
  --gray-900: #2c2b29;
  --nav-bar-bg: #060606;
  --true-black: #000000;

  --white: var(--gray-000);
  --black: #1b1a18;

  --gold-000: #fffcf0;
  --gold-100: #fff6d3;
  --gold-200: #f9e8ad;
  --gold-300: #eed783;
  --gold-400: #d9c066;
  --gold-500: #e1be41;
  --gold-600: #be9d29;
  --gold-700: #857026;
  --gold-800: #665415;
  --gold-900: #483a0c;

  --purple-000: #e9e1ec;
  --purple-100: #d2c5d6;
  --purple-200: #bdadc3;
  --purple-300: #9b8aa2;
  --purple-400: #79647d;
  --purple-500: #634a69;
  --purple-600: #55395e;
  --purple-700: #421d50;
  --purple-800: #2b1234;
  --purple-900: #190721;

  --teal-000: #c5e5e7;
  --teal-100: #9ac2c5;
  --teal-200: #74a2a5;
  --teal-300: #57868a;
  --teal-400: #316064;
  --teal-500: #225155;
  --teal-600: #16494e;
  --teal-700: #113135;
  --teal-800: #0c2529;
  --teal-900: #071314;

  --red-000: #fff6f0;
  --red-100: #ffe8db;
  --red-200: #f7c5ad;
  --red-300: #eb9d7f;
  --red-400: #de7754;
  --red-500: #d1512e;
  --red-600: #ab371d;
  --red-700: #852110;
  --red-800: #5e1107;
  --red-900: #380803;

  --highlighter: #efff3c66;

  --body-font: "Hanken Grotesk", "Noto Color Emoji", "Inter", Verdana, Helvetica,
    sans-serif;
  --headline-font: "Belanosima", "Noto Color Emoji", "Gill Sans", "Futura",
    Helvetica, sans-serif;
  --monospace-font: "Roboto Mono", "Cascadia Mono", monospace;

  --default-font-size: 16px;
}

/* CSS reset */
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
  font-size: var(--default-font-size);
  line-height: 1.51;
  font-family: var(--body-font);
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus-visible {
  outline: 0.25rem double var(--gold-500);
}

h1,
h2,
h3 {
  font-family: var(--headline-font);
  font-weight: 400;
  margin: 0;
  padding: 1rem 0;
}

a {
  color: var(--gray-000);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--gray-200);
}

a:hover {
  color: var(--true-white);
  text-shadow: 0 0 0.5rem hsl(from var(--white) h s l / 0.4);
}

p {
  margin-top: 0;
}

p + p {
  margin-top: 1em;
}

.puzzle-link {
  font-weight: 300;
}

.puzzle-link.unsolved a {
  color: var(--gray-200);
  text-decoration-color: var(--gray-300);
}

.puzzle-link.unsolved a:hover {
  color: var(--gray-100);
  text-decoration-color: var(--gray-200);
}

.puzzle-content:not(.copying) .copy-only {
  display: none;
}

.puzzle-content.copying .no-copy {
  display: none;
}
